name: Build and Push Autodealer Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Autodealer/**' # Срабатывает, если изменены файлы в папке Autodealer или подпапках

jobs:
  build-and-push-autodealer:
    runs-on: ubuntu-latest

    steps:
    # Шаг 1: Загрузить исходный код
    - name: Checkout code
      uses: actions/checkout@v4

    # Шаг 2: Установить QEMU (для multi-platform build, необязательно)
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    # Шаг 3: Установить Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Шаг 4: Войти в Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }} 
        password: ${{ secrets.DOCKERHUB_TOKEN }}   

    # Шаг 5: Получить имя образа и теги
    - name: Extract Docker metadata for Autodealer
      id: meta-autodealer
      uses: docker/metadata-action@v5
      with: # Заполняем поля (задача 6)
        images: ${{ secrets.DOCKERHUB_USERNAME }}Coatlicence/autodealer-project-docker
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha,prefix={{branch}}-

    # Шаг 6: Собрать и запушить Docker образ autodealer
    - name: Build and push Autodealer Docker image
      uses: docker/build-push-action@v5
      with:
        context: . # Контекст сборки - корень репозитория
        file: ./Autodealer/Dockerfile # Путь к Dockerfile
        push: true # true означает, что нужно запушить после сборки
        tags: ${{ steps.meta-autodealer.outputs.tags }} # Используем теги, сгенерированные на шаге 5
        labels: ${{ steps.meta-autodealer.outputs.labels }} # Используем метки, сгенерированные на шаге 5